Redirect 301 /managerial-economics-and-financial-accounting-mefa/ https://rtunotes.in/units-pyqs.html?semester=3&subject=MEFA
Redirect 301 /computer-architecture-and-organization-cao/ https://rtunotes.in/units-pyqs.html?semester=6&subject=CAO
Redirect 301 /programming-for-problem-solving-pps/ https://rtunotes.in/units-pyqs.html?semester=2&subject=PPS
Redirect 301 /advanced-engineering-mathematics-aem/ https://rtunotes.in/units-pyqs.html?semester=3&subject=AEM
Redirect 301 /discrete-mathematics-structures-dms/ https://rtunotes.in/units-pyqs.html?semester=4&subject=DMS
Redirect 301 /computer-graphics-and-multimedia/ https://rtunotes.in/units-pyqs.html?semester=6&subject=CGM
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/Unit\.html$
RewriteCond %{QUERY_STRING} ^subject=CGM$
RewriteRule ^Unit\.html$ https://rtunotes.in/units-pyqs.html?semester=6&subject=CGM [R=301,L]
Redirect 301 /basic-electrical-engineering-bee/ https://rtunotes.in/units-pyqs.html?semester=2&subject=BEE
Redirect 301 /basic-mechanical-engineering-bme/ https://rtunotes.in/units-pyqs.html?semester=1&subject=BME
Redirect 301 /microprocessor-and-interfacempi/ https://rtunotes.in/units-pyqs.html?semester=4&subject=MPI_CSE
Redirect 301 /information-security-system-iss/ https://rtunotes.in/units-pyqs.html?semester=6&subject=ISS
Redirect 301 /principle-of-communication-poc/ https://rtunotes.in/units-pyqs.html?semester=4&subject=POC
Redirect 301 /digital-image-processing-dip/ https://rtunotes.in/units-pyqs.html?semester=6&subject=DIP
Redirect 301 /microprocessors-interfaces/ https://rtunotes.in/units-pyqs.html?semester=5&subject=MPI_IT
Redirect 301 /artificial-intelligence-ai/ https://rtunotes.in/units-pyqs.html?semester=6&subject=AI
Redirect 301 /technical-communication-tc/ https://rtunotes.in/units-pyqs.html?semester=4&subject=TC
Redirect 301 /software-engineering-se/ https://rtunotes.in/units-pyqs.html?semester=4&subject=SE
Redirect 301 /digital-electronics-de/ https://rtunotes.in/units-pyqs.html?semester=3&subject=DE
Redirect 301 /communication-skills-cs/ https://rtunotes.in/units-pyqs.html?semester=2&subject=CS
Redirect 301 /wireless-communication/ https://rtunotes.in/units-pyqs.html?semester=5&subject=WC
Redirect 301 /distributed-system-ds/ https://rtunotes.in/units-pyqs.html?semester=6&subject=DS
Redirect 301 /analysis-of-algorithm/ https://rtunotes.in/units-pyqs.html?semester=5&subject=AOA
Redirect 301 /machine-learning-ml/ https://rtunotes.in/units-pyqs.html?semester=6&subject=ML
Redirect 301 /cloud-computing-cc/ https://rtunotes.in/units-pyqs.html?semester=6&subject=CC
Redirect 301 /operating-system/ https://rtunotes.in/units-pyqs.html?semester=5&subject=OS
Redirect 301 /compiler-design/ https://rtunotes.in/units-pyqs.html?semester=5&subject=CD
Redirect 301 /chemistry/ https://rtunotes.in/units-pyqs.html?semester=1&subject=EC
Redirect 301 /human-values-hv/ https://rtunotes.in/units-pyqs.html?semester=1&subject=HV
Redirect 301 /physics/ https://rtunotes.in/units-pyqs.html?semester=2&subject=EP
Redirect 301 /engineering-mathematics-2/ https://rtunotes.in/units-pyqs.html?semester=2&subject=EM2
Redirect 301 /1st-semester/ https://rtunotes.in/subject.html?year=1&semester=1
Redirect 301 /2nd-semester/ https://rtunotes.in/subject.html?year=1&semester=2
Redirect 301 /3rd-semester/ https://rtunotes.in/subject.html?year=2&semester=3
Redirect 301 /4th-semester/ https://rtunotes.in/subject.html?year=2&semester=4
Redirect 301 /5th-semester/ https://rtunotes.in/subject.html?year=3&semester=5
Redirect 301 /6th-semester/ https://rtunotes.in/subject.html?year=3&semester=6
Redirect 301 /7th-semester/ https://rtunotes.in/subject.html?year=4&semester=7
Redirect 301 /8th-semester/ https://rtunotes.in/subject.html?year=4&semester=8
Redirect 301 /1st-year-notes/ https://rtunotes.in/semester.html?year=1
Redirect 301 /2nd-year-notes/ https://rtunotes.in/semester.html?year=2

Redirect 301 /3rd-year-notes/ https://rtunotes.in/semester.html?year=3
Redirect 301 /4th-year-notes/ https://rtunotes.in/semester.html?year=4
Redirect 301 /wp-content/uploads/2024/08/CSE-Sylabus-3rd-Sem.pdf https://rtunotes.in/assets/syllabus/CSE-Sylabus-3rd-Sem.pdf
Redirect 301 /wp-content/uploads/2024/09/CSE-Sylabus-3rd-Sem.pdf https://rtunotes.in/assets/syllabus/CSE-Sylabus-3rd-Sem.pdf
Redirect 301 /wp-content/uploads/2024/09/CSE-Sylabus-4th-Sem.pdf https://rtunotes.in/assets/syllabus/CSE-Sylabus-4th-Sem.pdf
Redirect 301 /wp-content/uploads/2024/08/CSE-Sylabus-4th-Sem.pdf https://rtunotes.in/assets/syllabus/CSE-Sylabus-4th-Sem.pdf
Redirect 301 /wp-content/uploads/2024/08/CSE-Sylabus-1st-Year.pdf https://rtunotes.in/assets/syllabus/CSE-Sylabus-1st-Year.pdf
Redirect 301 /wp-content/uploads/2024/09/CSE-Sylabus-1st-Year.pdf https://rtunotes.in/assets/syllabus/CSE-Sylabus-1st-Year.pdf
Redirect 301 /wp-content/uploads/2024/08/CSE-Sylabus-5th-6th-Sem.pdf https://rtunotes.in/assets/syllabus/CSE-Sylabus-5th-6th-Sem.pdf

Redirect 301 /category/uncategorized/ https://rtunotes.in
Redirect 301 /comments/feed/ https://rtunotes.in
Redirect 301 /feed/ https://rtunotes.in
Redirect 301 /about/ https://yuvraj.rtunotes.in
Redirect 301 /wp-includes/js/dist/vendor/wp-polyfill-importmap.min.js?ver=1.8.2/ https://rtunotes.in